<!-- user-item.component.html -->

<!-- Conteneur principal pour les détails de l'utilisateur -->
<div class="user-detail">
  
  <!-- Affichage du prénom et du nom de l'utilisateur -->
  <h3>{{ user.firstname }} {{ user.name }}</h3>
  
  <!-- Affichage du rôle de l'utilisateur -->
  <p>Role: {{ user.role }}</p>
  
  <!-- Affichage de l'email de l'utilisateur -->
  <p>Email: {{ user.email }}</p>
  
  <!-- Affichage du numéro de téléphone de l'utilisateur -->
  <p>Phone: {{ user.tel }}</p>
  
  <!-- Affichage de l'ID de l'utilisateur, facultatif selon le besoin -->
  <p>ID: {{ user.id }}</p> <!-- ID peut être affiché si nécessaire -->
  
</div>
