.highlight {
    background-color: yellow;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .description {
    text-align: left;
    margin-bottom: 15px;
    margin-top: -20px;
    font-size: 1.2rem;
    color: #555;
  }
  
  .mat-elevation-z8 {
    margin-top: 20px;
  }
  