/* app.component.css */

.main-card {
    margin: 20px; /* Add margin around the card */
    padding: 20px; /* Add padding inside the card */
  }
  
  .button-container {
    margin-top: 20px; /* Space between the user list and the button */
  }
  

  .app-header {
    text-align: center;
    margin: 20px 0 20px; /* Adjusted margin */
  }
  
  .app-title {
    font-size: 2.5rem;
    color: #333;
  }



  .banner-container {
    position: relative;
    text-align: center;
  }
  
  .banner-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .app-header {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* White text for contrast */
    background: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background */
    padding: 10px;
    border-radius: 5px;
  }
  
  .app-title {
    font-size: 2.5rem;
  }
  
  