/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background-color: #000000; /* Couleur violet foncé */
    color: white; /* Couleur du texte si vous voulez qu'il soit en blanc pour contraster avec le fond */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Optionnel : définissez la police par défaut */
  }
  